:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 70%;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

img {
  display: block;
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
.container {
  margin: auto;
  width: 70%;

  // margin: auto;
}

// start header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 12rem;
}
.header__logo {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.999rem;
}
.header__links {
  display: flex;
  gap: 4rem;
}
.header--link_span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: gray;
}
.header__button {
  width: 13rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  align-items: center;
  color: #22c5bb;

  // background-color: rgb(232, 28, 28); /* خلفية بيضاء للزر */
  // color: #333; /* لون النص في الزر */
  // padding: 10px 20px; /* المسافة الداخلية للزر (أعلى/أسفل 10px، يمين/يسار 20px) */
  // border-radius: 50px; /* جعل الزر دائري الزوايا */
  // text-decoration: none; /* إزالة الخط السفلي من الرابط */
  // font-weight: bold;
}
// start section__1

.section__1-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section__1 {
  position: relative;
  background-color: red($color: #000000);
}
.section__1-content::before {
  content: "";
  position: absolute;
  // background-image: url(/image/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;

  margin-top: -20rem;
}
// .section__1::before {
//   content: "";
//   position: absolute;
//   background-color: red;
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 100%;
//   width: 100%;
//   z-index: -1;
// }

.section__1-title {
  font-size: 14rem;
  font-weight: 700;
  line-height: 14rem;
  color: #252b46;
}
.section__1-description {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #9194a1;
  margin-top: 4rem;
}
.section__1-button {
  height: 7rem;
  width: 27rem;
  background: #0c344a;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  align-items: center;
  color: #ffffff;
  margin-top: 4rem;
}
.olive-leaf {
  height: 4rem;
  width: 2rem;
  position: absolute;
  top: 11rem;
}
.soup {
  height: 2rem;
  width: 2rem;
  position: absolute;
}
.section__1-image_front {
  width: 40rem;
  height: 40rem;
  filter: drop-shadow(20px 7px 10px gray);
  position: absolute;
  margin-right: 30rem;
  z-index: -1;

  // margin-top: -30rem;
}
